* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 26.6667vw;
  background-color: #F5F5F5;
}
body {
  font-size: 0.16rem;
  height: 100%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.08rem;
  border-bottom: 0.001rem solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
nav .release {
  background: #2be2e2;
  border: none;
  outline: none;
  width: 0.6rem;
  height: 0.3rem;
  color: #fff;
  border-radius: 0.2rem;
  align-self: center;
  font-size: 0.14rem;
}
nav div {
  width: 0.44rem;
  height: 0.44rem;
  text-align: center;
}
nav div img {
  width: 0.24rem;
  height: 0.24rem;
  margin-top: 0.1rem;
}
nav div p {
  font-size: 0.14rem;
}
.listTitle {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 0.4rem;
}
.listTitle div {
  width: 0.32rem;
  height: 0.4rem;
  box-sizing: border-box;
}
.listTitle span {
  line-height: 0.4rem;
}
.contentBox {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  height: 5.82rem;
  position: relative;
}
.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  display: flex;
  transition: left 0.3s;
}
.content > div {
  width: 50%;
}
.login {
  padding: 0.17rem;
  height: 0.7rem;
  display: flex;
  justify-content: flex-start;
  background-color: #fff;
  border-bottom: 0.01rem solid rgba(0, 0, 0, 0.1);
}
.login > div:first-of-type {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
}
.login > div:first-of-type img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.login > div:nth-of-type(2) {
  margin-left: 0.2rem;
  max-width: 2.4rem;
  display: flex;
  flex-flow: nowrap column;
  justify-content: space-evenly;
}
.login > div:nth-of-type(2) p:first-of-type {
  font-size: 0.2rem;
  font-weight: 700;
  max-width: 2.3rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.login > div:nth-of-type(2) p:nth-of-type(2) {
  font-size: 0.14rem;
  color: #666;
}
.titleStyle {
  border-bottom: #333333 0.03rem solid;
}
.home-tab {
  height: 0.76rem;
  background-color: #fff;
  display: flex;
  margin-bottom: 0.1rem;
}
.home-tab div {
  flex: 1;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.home-tab div p {
  text-align: center;
}
.home-tab div p:first-of-type {
  font-size: 0.2rem;
  font-weight: 700;
}
.home-tab div p:last-of-type {
  font-size: 0.12rem;
}
.user-select {
  background-color: #fff;
}
.user-select div {
  height: 0.52rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.1rem;
}
.user-select div div img:first-of-type {
  width: 0.24rem;
  height: 0.24rem;
  margin-top: 0;
}
.user-select div div p {
  margin-left: 0.1rem;
}
.user-select div img:last-of-type {
  width: 0.12rem;
  height: 0.12rem;
  margin-top: 0.05rem;
}
.logout {
  margin-top: 0.1rem;
  height: 0.52rem;
}
.logout p {
  text-align: center;
  line-height: 0.52rem;
  background-color: #fff;
}
.downloadBox {
  position: relative;
}
.download {
  position: absolute;
  top: 0.25rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 1.7rem;
  justify-content: space-around;
}
.download img {
  width: 0.6rem;
}
.download p {
  font-size: 0.14rem;
}
.download button {
  width: 1.5rem;
  font-size: 0.16rem;
  background: #3385FF;
  color: #fff;
  border: none;
  outline: none;
  padding: 0.07rem;
}
.backImg {
  width: 100%;
  margin-top: 0.05rem;
}
.nowLogin {
  position: absolute;
  right: 0.2rem;
  width: 0.8rem;
  padding: 0.07rem;
  border: none;
  outline: none;
  font-size: 0.14rem;
  color: #fff;
  background: #3385ff;
  border-radius: 0.02rem;
}
/*# sourceMappingURL=./indexStyle.css.map */