.blue-kit{
    width: 100%;
    height: 0.46rem;
    background-color: #262b42;
}
.blue-kit img{
    height: 0.46rem;
}
/* 搜索框 */
.search{
    height: 0.45rem;
    padding: 0 0.06rem;
    display: flex;
    background-color: #dadce0;
}
.search input{
    width: 3.07rem;
    height: 0.38rem;
    border: 0;
    outline:none;
    /* width: 100%; */
    margin-top: 0.03rem;
    line-height: normal;
    font-size: 0.18rem;
    padding: 0;
    padding-left: 0.05rem;
    padding-right: 0.26rem;
}
.search button{
    font-weight: 700;
    cursor: pointer;
    border: 0;
    margin-top: 0.03rem;
    font-size: 0.15rem;
    width: 0.55rem;
    height: 0.38rem;
    line-height: 0.36rem;
    text-align: center;
    color: #3361a7;
    background: #f2f3f5;
    outline:none;

}

/* 下面的建议栏 */

.choice a{
    height: 0.43rem;
    width: 1.65rem;
    line-height: 0.43rem;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: -webkit-box;
    border: 0.01rem solid #eaeaea;
    background: #F1F3F6 -webkit-gradient(linear,0 0,0 100%,from(#F3F5F8),to(#ECEEF0));
    /* background: linear-gradient(0 100%,from(#F3F5F8),to(#ECEEF0)); */
    /* border-radius: 0.2rem; */
    color: #000;
    padding-left: 0.04rem;
    margin-right: 0.05rem;
    
    font-size: 0.15rem;
    margin: 0.04rem;
}
.myFavourite{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0.08rem;
}
.fTitle{
    font-size: 0.12rem;
    margin: 0.09rem 0 0.01rem;
    padding-left: 0.10rem;
    width: 3.6rem;
    color: #8593A1;
    text-shadow: 0 0.01rem rgba(255,255,255,.75);
}

.hotSearch{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0.08rem;
}
.hTitle{
    font-size: 0.12rem;
    margin: 0.09rem 0 0.01rem;
    padding-left: 0.1rem;
    width: 3.6rem;
    color: #ff7f00;
    text-shadow: 0 0.01rem rgba(255,255,255,.75);
}
.tbSearchBottom{
    width: 100%;
    height: 0.44rem;
    background: url(../img/上贴吧找组织.jpg) no-repeat 0 0 #fff;
    background-size: 100% auto;
}











