* {
    padding: 0;
    margin: 0;
}

body {
    height: 6.67rem;
    background-color: #f5f5f5;
    font-family: PingFang SC, Helvetica, sans-serif;
}

html {
    font-size: 26.67vw;
}

.box {
    position: relative;
}

.bgcimg {
    position: relative;
    height: 2.5rem;
    background: url(https://wappass.bdimg.com/static/appsapi/img/header-bg-old.11371b7.png) no-repeat;
    background-size: 100%;
}

.bottom-bgcimg {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 1.3rem;
    background-image: linear-gradient(0deg, #f5f5f5 50%, hsla(0, 0%, 100%, 0) 99%);
}

.connetbox {
    position: absolute;
    top: 37%;
    left: 2.6%;
    width: 95%;
    height: 5rem;
    background-color: #FFF;
    border-radius: 0.2rem;
}

.title {
    font-size: 0.217rem;
    font-weight: 800;
    height: 1.11rem;
    width: 100%;
    text-align: center;
    line-height: 1.11rem;
}

input {
    padding: 0 0.35rem;
    outline: none;
    border: none;
    width: 2.44rem;
    height: 0.55rem;
    border-radius: 0.3rem;
    font-size: 0.2rem;
    text-align: center;
    background-color: #F5F5F5;
}

button {
    cursor: pointer;
    width: 3.18rem;
    height: 0.55rem;
    outline: none;
    border: none;
    border-radius: 0.3rem;
    background-color: #4E6EF2;
    font-size: 0.2rem;
    text-align: center;
    opacity: .3;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    height: 2.5rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header {
    position: absolute;
    z-index: 3;
    top: 0;
    width: 100%;
    height: 0.4rem;
}

.icon {
    position: absolute;
    left: 6%;
    top: 45%;
    width: 0.25rem;
    height: 0.25rem;
}

.tip {
    height: 0.2rem;
    width: 100%;
    /* background-color: royalblue; */
    color: blue;
    font-size: 0.14rem;
    text-align: center;
}

.forget,
.register {
    cursor: pointer;
    font-size: 0.18rem;
    color: silver;
}
.bottombox{
    margin: 1rem auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}