<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./public/css/common.css">
    <link rel="stylesheet" href="./public/css/changepsd.css">

</head>

<body>
    <div class="changepsd-box">
        <div class="changepsd-header">
            <header>
                <a href="login.html"></a>
            </header>
            <div class="changepsd-bottom"></div>
        </div>
        <div class="changepsd-main">
            <div class="changepsd-main-top">修改密码</div>
            <form>
                <input class="username" type="text" name="username" placeholder="请输入要找回的手机号" maxlength="11">
                <input class="password" type="password" name="password" placeholder="请输入新的密码">
                <!-- <input class="password" type="password" name="password" placeholder="请输入新的密码"> -->
                <p class="tip"></p>
                <button>修改</button>
            </form>
        </div>
    <script src="./public/js/jquery.js"></script>
    <script src="./public/js/改密码.js"></script>
</body>

</html>