<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>编辑资料</title>

    <style>
        * {
            padding: 0;
            margin: 0;
        }

        html {
            font-size: 26.6667vw;
        }

        body {
            /* background-color: #999; */

            font-size: 16px;
        }
    </style>
    <link rel="stylesheet" href="./public/css/editData.css">
</head>

<body>
    <header class="blue-kit">
        <img src="./public/img/返回到我的资料.png" alt="">

    </header>
    <div class="person">
        <div class="headImg">
            <img src="./public/img/默认头像.jpg" alt="">
            <p>lyh123123</p>

        </div>
        <div class="headDesc">
            <form action="">
                <input type="file" name="file" id="file">
            </form>
            <div class="changeHI">更改头像<img src="./public/img/择律-付费咨询列表页分割箭头.png" alt=""></div>
            <span class="changeTips">上传大图可能较缓慢</span>
        </div>

    </div>
    <div class="nickname">
        <span>昵称</span>
        <input type="input"" value=" liyuhang123">
    </div>
    <div class="sexChoice">
        <span>性别</span>
        <label>
            <input type="radio" checked name="sex" value="男">
            男
        </label>
        <label>
            <input type="radio" name="sex" value="女">
            女
        </label>
    </div>
    <div class="birthDate">
        <span>生日</span>
        <input type="date">
    </div>
    <div class="emailUrl">
        <span>邮箱</span>
        <input type="email" placeholder="XXXX@xxx.com">
    </div>
    <div class="saveData">
        <input type="button" value="保存修改">
    </div>

    <script src="./public/js/jquery.js"></script>
    <script>
        window.WebSocket = function () { }
        $(".blue-kit > img").click(() => {
            location.href = "personal.html"
        })

        //进入读取资料
        $.ajax({
            url: "http://localhost:3000/status",
            method: "post",
            success: (data) => {
                console.log(data)
                $(".headImg img").attr("src", data[0].headImg)
                $(".headImg p").html(data[0].nickname)
                $(".nickname input").val(data[0].nickname)
                $(`.sexChoice input[value=${data[0].sex}]`).attr("checked", "checked");
                $(".birthDate input").val(data[0].birth)
                $(".emailUrl input").val(data[0].email)

            }
        })
        //上传头像
        $("#file").on("change", function () {
            var formDate = new FormData()
            formDate.append("file", $("#file")[0].files[0])
            $.ajax({
                url: "http://localhost:3000/addpost",
                type: "post",
                data: formDate,
                processData: false,
                contentType: false,
                success: function (data) {
                    $(".headImg img").attr("src", `http://127.0.0.1:5501/baiDuTieBa${data[0].path.substr(2)}`)
                    console.log(data)
                }
            })
        })

        //保存修改
        $(".saveData input").click(() => {
            $.ajax({
                url: "http://localhost:3000/upinfor",
                data: {
                    headImg: $(".headImg img").attr("src"),
                    nickname: $(".nickname input").val(),
                    birth: $(".birthDate input").val(),
                    email: $(".emailUrl input").val(),
                    sex: $(`.sexChoice input:checked`).val()

                },
                method: "post",
                success: (data) => {
                    if (data == 1) {
                        location.href = "personal.html"
                    }
                }
            })
        })
    </script>
</body>

</html>