<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>百度贴吧 - 个人中心</title>
  <link rel="stylesheet" href="./public/css/normalize.css">
  <link rel="stylesheet" href="./public/css/personal.css">
</head>

<body>
  <header>
    <a href="./index.html">
      <span class="left-arrow"></span>
      <img src="./public/img/tie.png" alt="">
      <span class="username">flybird</span>
    </a>
  </header>

  <div class="top">
    <img
      src="https://gss0.bdstatic.com/6LZ1dD3d1sgCo2Kml5_Y_D3/sys/portrait/item/tb.1.b9d931e8.wOZgWvbdXMvQLWMfPJMVhA?t=1551418970"
      alt="">
    <div class="content">
      <p class="username">flybird</p>
      <p class="desc">
        <i class="niao"></i>
        贴吧菜鸟
      </p>
      <div class="edit">
        <i class="edit-i"></i>
        <span class="text">编辑资料</span>
      </div>
      <div class="chat">
        <i class="chat-i"></i>
        <span class="text">去聊天</span>
      </div>
    </div>
  </div>

  <main>
    <nav>
      <ul class="clearfix">
        <li>
          <div class="tienum">0</div>
          <div>帖子</div>
        </li>
        <li>
          <div class="myreviews">0</div>
          <div>我的点赞</div>
        </li>
        <li>
          <div class="attNum">0</div>
          <div>关注</div>
        </li>
        <li>
          <div class="fansNum">0</div>
          <div>粉丝</div>
        </li>
      </ul>
    </nav>
    <div class="content">
      <ul>
        <li>
          <ul class="tieBox">
            <!-- <li>
              <div class="reply">我一直想把合金弹头开发出来。</div>
              <div class="tiezi">
                <div class="title">
                  分享自己顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶用gamemaker制作合金弹头成顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶顶熟源码（飞机boss）
                </div>
                <img src="https://imgsa.baidu.com/forum/abpic/item/df6acb1349540923eccc44499f58d109b2de49be.jpg" alt="">
               
              </div>
            </li>
            <li>
              <div class="reply">我一直想把合金弹头开发出来。</div>
              <div class="tiezi">
                <div class="title">分享自己用gamemaker制作合金弹头成熟源码（飞机boss）</div>
                <img src="https://imgsa.baidu.com/forum/abpic/item/df6acb1349540923eccc44499f58d109b2de49be.jpg" alt="">
                <div class="con">这个源码里面已经有摩登小兵和一个飞机boss。两个程序设计思路都比较成熟。分享一下给对gm做合金...</div>
              </div>
            </li>
            <li>
              <div class="reply">我一直想把合金弹头开发出来。</div>
              <div class="tiezi">
                <div class="title">分享自己用gamemaker制作合金弹头成熟源码（飞机boss）</div>
                <img src="https://imgsa.baidu.com/forum/abpic/item/df6acb1349540923eccc44499f58d109b2de49be.jpg" alt="">
                <div class="con">这个源码里面已经有摩登小兵和一个飞机boss。两个程序设计思路都比较成熟。分享一下给对gm做合金...</div>
              </div>
            </li> -->
          </ul>
        </li>
        <li class="myloveBigBox">


        </li>
        <li>
          <ul class="guanzhu">


          </ul>
        </li>
        <li>
          <ul class="fensi">

          </ul>
        </li>
      </ul>
    </div>
  </main>

  <script src="./public/js/personal.js"></script>
  <script src="./public/js/jquery.js"></script>
  <script src="./public/js/datechange.js"></script>
  <script>
    window.WebSocket = function () { };
    $(".edit").click(() => {
      location.href = "editData.html"
    })
    //我的评论
    // $.ajax({
    //   url: 'http://localhost:3000/myReview',
    //   method: "post",
    //   success: (data) => {
    //     console.log(data)
    //     $(".myreviews").html(data)
    //   }
    // })

    //自身头像和信息
    $.ajax({
      url: "http://localhost:3000/status",
      method: "post",
      success: (data) => {
        $(".username").html(data[0].nickname)
        $(".top img").attr("src", data[0].headImg)
        $(".attNum").html(data[0].followee.length)
        $(".fansNum").html(data[0].fans.length)
        console.log(data)
      }
    })
    //我的帖子
    $.ajax({
      url: 'http://localhost:3000/myposts',
      method: "get",
      success: (data) => {
        console.log(data)
        $(".tienum").html(data.length)
        for (let i = 0; i < data.length; i++) {
          $(".tieBox").append(`
            <li>
              <div class="reply">${data[i].headline}</div>
              <div class="tiezi">
                <div class="title">
                  ${data[i].content}
                </div>
                
               
              </div>
            </li>
          `)
          if (data[i].image.length > 0) {
            $($(".tiezi")[i]).append(`<img src="${data[i].image[0]}" alt="">`);
          }
        }
      }
    })
    //我的关注
    $.ajax({
      url: "http://localhost:3000/myatt",
      method: "post",
      success: (data) => {
        console.log(data)
        for (let i = 0; i < data.length; i++) {
          $(".guanzhu").append(`
           <li>
              <img
                src="${data[i].headImg}"
                alt="">
              <p>${data[i].nickname}</p>
             
            </li>
          `)

          $($(".guanzhu > li")[i]).click(() => {
            location.href = `firendmaterial.html?user=${data[i].username}`
          })
          // $($(".wrong")[i]).click(function () {
          //   $(this).parent().remove();
          //   let num = $(".attNum").html()
          //   num--;
          //   $(".attNum").html(num)
          //   $.ajax({
          //     url: "http://localhost:3000/userdel",
          //     method: "post",
          //     data: {
          //       code: 1,
          //       username: data[i].username
          //     },
          //     success: (data) => {
          //       console.log(data)
          //     }
          //   })
          // })
        }

      }
    })
    //我的粉丝
    $.ajax({
      url: "http://localhost:3000/myfans",
      method: "post",
      success: (data) => {
        console.log(data)
        for (let i = 0; i < data.length; i++) {
          $(".fensi").append(`
           <li>
              <img
                src="${data[i].headImg}"
                alt="">
              <p>${data[i].nickname}</p>
            
            </li>
          `)

          $($(".fensi > li")[i]).click(() => {
            location.href = `firendmaterial.html?user=${data[i].username}`
          })
        }

      }
    })
    //我的点赞
    $.ajax({
      url: "http://localhost:3000/mycollect",
      data: {
        code: 2
      },
      method: "get",
      success: (data) => {
        console.log(data)
        $(".myreviews").html(data.length)
        for (let i = 0; i < data.length; i++) {
          $(".myloveBigBox").append(`
            <div class="myloveBox">
              <div class="myloveTitle">${data[i].headline}</div>
              <div class="myloveUser">
                <div class="myloveUserName">${data[i].nickname}</div>
                <div class="myloveTime">${dateFormat(new Date(data[i].pubTime))}</div>
              </div>
            </div>
          `)

          if (data[i].image.length > 0) {
            $($(".myloveBox")[i]).append(`<img src="${data[i].image[0]}" alt="">`)
          }

          $($(".myloveBox")[i]).click(() => {
            location.href = `./detail.html?id=${data[i].id}`
          })

        }
      }
    })

  </script>
</body>

</html>