<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./public/css/search.css">
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        html {
            font-size: 26.6667vw;
        }

        body {
            /* background-color: #999; */
            
            font-size: 16px;
        }
    </style>
</head>
<body>
    <header class="blue-kit">
        <img src="./public/img/百度贴吧加向左返回箭头.png" alt="">
    </header>
    <div class="search">
        <input type="text">
        <button class="searchBtn"><span class="searchWord">搜索</span></button>
    </div>
    <div class="choice">
        <p class="fTitle">我最爱逛的吧</p>
        <div class="myFavourite">
            
            <a href="">崩坏3rd</a>
            <a href="">王者荣耀</a>
            <a href="">记忆力</a>
            <a href="">抗压背锅吧</a>
            <a href="">久胜战神</a>
            <a href="">一念神魔</a>
            
        </div>
        <p class="hTitle">热门搜索HOT</p>
        <div class="hotSearch">
            
            <a href="">最美时光</a>
            <a href="">两个爸爸</a>
            <a href="">欧美电影</a>
            <a href="">远古入侵</a>


        </div>
    </div>
    <div class="tbSearchBottom">
        
    </div>

    <script src="./public/js/jquery.js"></script>
    <script>
        $(".blue-kit img").click(()=>{
            location.href = "index.html"
        })
    </script>
</body>
</html>