<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>账号安全</title>
    <link rel="stylesheet" href="././public/css/common.css">
    <link rel="stylesheet" href="././public/css/security.css">
</head>
<body>
    <div class="security-box">
        <header>
            <a href="index.html"></a>
            <span> 账号安全</span>
        </header>
        <main>
            <div class="list">
                <p>百度账号</p>
            </div>
            <a href="changepsd.html" style="text-decoration: none;">
            <div class="list">
                <p>
                    修改密码
                  
                        <svg t="1603259858640" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3052" width="20" height="20"><path d="M286.85833334 191.547l56.285-58.261 393.99599999 392.021-393.99599999 392.021-56.285-58.26100002 331.786-333.76099998z" fill="#bcbec2" p-id="3053"></path></svg>
                 
                </p>
            </div>
        </a>
            <div class="list">
                <p class="bottom">
                    密保手机
                    <svg t="1603259858640" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3052" width="20" height="20"><path d="M286.85833334 191.547l56.285-58.261 393.99599999 392.021-393.99599999 392.021-56.285-58.26100002 331.786-333.76099998z" fill="#bcbec2" p-id="3053"></path></svg>
                </p>
                <p>
                    密保邮箱
                    <svg t="1603259858640" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3052" width="20" height="20"><path d="M286.85833334 191.547l56.285-58.261 393.99599999 392.021-393.99599999 392.021-56.285-58.26100002 331.786-333.76099998z" fill="#bcbec2" p-id="3053"></path></svg>
                </p>
            </div>
            <div class="list">
                <p>
                    贴吧操作记录
                    <svg t="1603259858640" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3052" width="20" height="20"><path d="M286.85833334 191.547l56.285-58.261 393.99599999 392.021-393.99599999 392.021-56.285-58.26100002 331.786-333.76099998z" fill="#bcbec2" p-id="3053"></path></svg>
                </p>
            </div>
        </main>
    </div>
</body>
</html>